# ===============================
# Ignore Training Code
# ===============================
model/train_model.py
utils/

# ===============================
# Ignore Datasets
# ===============================
*.csv

# ===============================
# Ignore Jupyter Notebooks
# ===============================
*.ipynb
.ipynb_checkpoints/

# ===============================
# Python Cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Environment Files
# ===============================
.env
venv/
env/
.venv/